/target
.idea/
/out/
/scrape/
*cookies*.txt
.env
node_modules/
nostr.db*
tools/webtorrent.min.js
bk-dl/
/deploy.sh
crates/bakemono-app/gen/schemas/
crates/bakemono-app/binaries/
crates/bakemono-app/sidecars/
